page-leads {
  .lead-page-content {
    .lead-picture {
      border-radius: 50%;
      width: 50px;
      float: left;
    }

    .lead-info {
      float: right;
      margin: 10px 0 0 20px;
    }

    .last-message-timestamp {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 14px;
      color: #9A9898;
    }



    .lead-box .lead-item {
      line-height: 20px;
      padding: 10px 10px 10px 60px;
    }

    .lead-icon {
      width: 40px;
      line-height: 40px;
      position: absolute;
      top: 10px;
      left: 10px;
      color: #fff;
      text-align: center;
      text-shadow: none;
    }

    .lead-right {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 14px;
      color: #9A9898;
      text-align: center;
      text-shadow: none;
    }

    .lead-date {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 12px;
    }

    .lead-title {
      font-size: 14px;
    }

    .lead-notes {
      font-size: 12px;
    }

    .lead-empty {
      padding: 10px;
    }
  }
}
